*.suo
*.user
_ReSharper.*
bin
obj
packages

/bin
bin/
**/bin
obj/
/obj
/obj/*
**/obj


.vs/
**/.vs
.suo

**/*.sln.DotSettings.user
**/build

MigrationBackup

*/packages
**/packages
/packages/*
packages/*
*.pdb
*.db
*.txt
*.v11.suo
.idea*
*.diagsession
